[submodule "python/shotgun-python-api"]
	path = python/shotgun-python-api
	url = https://github.com/2Minutes/shotgun-python-api.git
[submodule "python/cg-pypeline-toolkit"]
	path = python/cg-pypeline-toolkit
	url = https://github.com/sebcourtois/cg-pypeline-toolkit.git
[submodule "python/davos-dev"]
	path = python/davos-dev
	url = https://github.com/2Minutes/davos-dev.git
[submodule "python/pypeline-tool-devkit"]
	path = python/pypeline-tool-devkit
	url = https://github.com/sebcourtois/pypeline-tool-devkit.git
