# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

.settings
/maya_mods/Toonkit_module

# system Files
*.DS_Store
Thumbs.db

# alex
launchers/alex

/maya_mods/solidangle/mtoadeploy/2016/docs
/python/zomblib/config/zombseb.py
/launchers/seb
/maya_mods/solidangle/mtoadeploy/2016/bin/*.lic
/maya_mods/zombie/python/dminutes/Z2K_ReleaseTool/_versions
/third-party/_python27_site/pysideuic
/third-party/_python27_site/PySide
/third-party/_python27_site/PySide-1.2.0-py2.7.egg-info
/maya_mods/zombie/python/dminutes/Z2K_Batchator/debug

