# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

.settings
/maya_mods/Toonkit_module

# system Files
*.DS_Store
Thumbs.db

# alex
launchers/alex

# jipe
_versions
debug

/maya_mods/solidangle/mtoadeploy/2016/docs
/python/zomblib/config/zombseb.py
/launchers/seb
/maya_mods/solidangle/mtoadeploy/2016/bin/*.lic
/third-party/_python27_site/pysideuic
/third-party/_python27_site/PySide
/third-party/_python27_site/PySide-1.2.0-py2.7.egg-info
/RV/plugins_tmp
/RV/SupportFiles
/maya_mods/zombie/python/dminutes/ToonKit_Fix
/maya_mods/third_party/plug-ins/2016_win
/maya_mods/openVdbForMaya
/release_paris.bat
