[submodule "python/davos-dev"]
	path = python/davos-dev
	url = https://github.com/sebcourtois/davos.git
[submodule "python/pypeline-tool-devkit"]
	path = python/pypeline-tool-devkit
	url = https://github.com/sebcourtois/pypeline-tool-devkit.git
