# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

/.settings/
/maya_mods/Toonkit_module

# system Files
*.DS_Store
Thumbs.db

# alex
launchers/alex


/maya_mods/solidangle/mtoadeploy/2016/docs
